<li>
	<%= task.description %>
	<%= task.deadline %>
	<%= link_to "Edit", edit_task_path(task), remote: true, class: "btn btn-default" %>
	<%= link_to "Complete", task, remote: true, method: :delete,
	data: { confirm: 'Are you sure?' }, class: "btn btn-success" %>
</li>